    <div class="container bg-primary">
    <div class="barra-buscador row align-items-center">

            <a href="#"> <i class="fa fa-bars text-dark col-1"></i></a>
            <a href="/" class="col-2">
                <img class="logo" src="./img/logo.png" />
            </a>
            <form class=" col buscador" action="INSERTAR URL" method="post">
                <input class="campo-buscador" type="text" placeholder="Buscar...      " name="search" />
                <!-- <button type="submit"></button> -->
            </form>
            <a href="" class="col-1 lupita">
                <i class="fa fa-search "></i>
            </a>
            <a href="/cart">
                <i class="fa fa-shopping-cart col-1"></i>
            </a>
    </div>
    </div>
