<div class="container bg-primary">
    <div class="barra-buscador row align-items-center justify-content-around">
        <!-- USUARIO 3, MAGEEK 7, IDIOMA 1, CARRITO 1 -->
        <a href="#"> <i class="fa fa-user col-3"></i></a>
        <div class="col-6">
            <a href="/">
                <h1 class="mageek">Mageek!</h1>
            </a>
        </div>
        <a href="#"> <i class="fa fa-flag col-1"></i></a>
        <a href="#"> <i class="fa fa-shopping-cart col-1"></i></a>
    </div>
    <!-- DICE 2 - SEARCH 8 - CARDS -->
    <div class="barra-buscador row align-items-center justify-content-around">
        <a class="col-2 icon" href="#">
        <img src="/img/d20.svg" class="">
        </a>
        <form class="col-8 form-inline my-2 my-lg-0 barra-buscador">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>
        <a class="col-2 icon" href="#">
            <img src="/img/wotc.svg" class="">
        </a>
        </div>
        <!-- <form class=" col buscador" action="INSERTAR URL" method="post">
            <input class="campo-buscador" type="text" placeholder="Buscar...      " name="search" />
              </form>
        <a href="" class="col-1 lupita">
            <i class="fa fa-search "></i>
        </a>
        <a href="/cart">
            <i class="fa fa-shopping-cart col-1"></i>
        </a> -->
</div>