
<!-- IMPLEMENTAR HOVER PARA LEER LA DESCRIPCION -->
<article class="col-12 bg-secondary producto row">
    <div class="col-3 imagen-producto-cont">
        <img src="/img/ragingGoblin.jpeg" class="imagen-producto">
    </div>
    <div class="col cuerpo-articulo row align-items-center">
        <h2 class="nombre-producto col-9">
            <a href="/product/0">
                Raging Goblin
            </a>
        </h2>
        <a href="#" class="">
            <i class="fa fa-trash col-2"></i>
        </a>
        <div class="cantidad col-8 align-top">
            <form class="" style="padding-right: 5px;" method="POST">
                <label for="cantidad" class="cantidad-etiqueta" style="display: inline-block;">Cantidad:</label>
                <select name="cantidad" id="cantidad">
                    <option value="1" class="value">1</option>
                    <option value="2" class="value">2</option>
                    <option value="3" class="value">3</option>
                    <option value="4" class="value">4</option>
                    <option value="5" class="value">5</option>
                </select>
            </form>
        </div >
        <div class="col-3 price">
            <p class="price">$0.10</p>
        </div>
        <p class="descripcion col-11">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni at molestias et nihil vel
            eaque quos cumque voluptatem impedit maxime?</p>
    </div>
</article>