<div class="container producto">
    <article class="row justify-content-around">
        <div class="col-12 menu-imagen">
            <img src="/img/ragingGoblin.jpeg" alt="Raging Goblin - R">
        </div>
    </article>
</div>