.barra-carrito {
  
  margin: 0px;
}
.logo {
  background-color: inherit;
}
.elemento {

}
main {
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  box-sizing: border-box;
  background-color: #B9EFFF;
}
body {
  background-color: #A9DFF2;
}