/* Divisiones principales */
body {
  background-color: #A9DFF2;
}

main {
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  box-sizing: border-box;
  background-color: #B9EFFF;
}

.selector-superior {
  width: 50%;
  height: 6vh;
  background-color: #2274A5;
  margin: 0px;
  float: left;
  text-align: center;
  font-size: 1.3em;
  font-weight: 300;
  border-right: rgba(3, 58, 90, 0.144) 1px solid;
  /* display: inline-block; */
}

.texto-selector {
  position: relative;
  top: 1.3vh;
}


/* Iconos */
.fa-shopping-cart {
  float: right;
}