<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include("partials/head") %>
        <link rel="stylesheet" href="/stylesheets/cart.css" />
    </head>
    
    <body>
        <header class="">
            <%- include("partials/header") %>
            <%- include("partials/headerCart") %>
        </header>
        
        <main>
            <nav class="container">
                <div class="row justify-content-center">
                    <article class="col-12 bg-secondary producto row">
                        <img src="/img/ragingGoblin.jpeg" class="imagen-producto col-4">
                            <div class="col-8">
                                <h2 class="nombre-producto">Raging Goblin</h2>
                                <p class="price color-red">$0.10</p>
                                <p class="descripcion">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni at molestias et nihil
                                    vel eaque quos cumque voluptatem impedit maxime?</p> 
                            </div>
                            <!-- IMPLEMENTAR HOVER PARA LEER LA DESCRIPCION -->
                    </article>
                    <article class="col-11 bg-secondary producto">
                    <div>
                        <img src="/img/hammer.jpeg" class="float-left imagen-producto">
                        <h2 class="nombre-producto">martillo</h2>
                    </div>
                    <p class="price">$1.500</p>
                    <p class="descripcion">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni at molestias et nihil
                    vel eaque quos cumque voluptatem impedit maxime?</p> 
                    <!-- IMPLEMENTAR HOVER PARA LEER LA DESCRIPCION -->
                </article>
                <article class="col-11 bg-secondary producto">
                    <div>
                        <img src="/img/hammer.jpeg" class="float-left imagen-producto">
                        <h2 class="nombre-producto">martillo</h2>
                    </div>
                    <p class="price">$1.500</p>
                    <p class="descripcion">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni at molestias et nihil
                    vel eaque quos cumque voluptatem impedit maxime?</p> 
                    <!-- IMPLEMENTAR HOVER PARA LEER LA DESCRIPCION -->
                </article>
            </div>
        </nav>
    </main>

    <nav></nav>
</body>

</html>