<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/stylesheets/producto.css" />
</head>

<body>
    <header>
        <%- include("partials/header") %>
    </header>

    <main>
        <%- include("partials/producto") %>
    </main>

    <nav></nav>

    <footer><%- include("partials/footer") %></footer>
</body>

</html>