<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/stylesheets/register.css" />
</head>

<body>
    <header>
        <%- include("partials/header") %>
    </header>

    <main>
        <a class="" href="../public/img/register.png" alt="mensaje_registro_usuario">
            <!-- Frase -->
            <h1 class="">Registro de usuario:</h1>
            <!-- Formulario -->


            <form>
                <label for="name">Email address</label>
                <input type="email" class="form-control" id="name" aria-describedby="emailHelp"
                    placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Example select</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect2">Example multiple select</label>
                    <select multiple class="form-control" id="exampleFormControlSelect2">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Example textarea</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlFile1">Example file input</label>
                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                </div>
            </form>








            id": 1,
            "name": "Cristi Aisbett",
            "cost": "PLN",
            "flavortext": null,
            "description": "Multi-lateral zero tolerance groupware",
            "usage": null,
            "price": 745.71,
            "pictures": "Sapien.jpeg",
            "inSale": true,
            "discount": 24,
            "category": null
            submit -->
            <!-- opción para login -->
    </main>

    <footer><%- include("partials/footer") %></footer>
</body>

</html>