<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/stylesheets/cart.css" />
    <link rel="stylesheet" href="/stylesheets/register.css" />
    <meta http-equiv="refresh" content="3;URL='/user/login'" />
</head>

<body>
    <header>
        <%- include("partials/header2") %>
    </header>

    <main>
        <h2 class="">Username/email or password invalid. Redirecting in 3 seconds...</h2>
    </main>

    <footer>
        <%- include("partials/footer") %>
    </footer>
</body>

</html>