<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
    <!-- <link rel="stylesheet" href="/stylesheets/cart.css" /> -->
    <link rel="stylesheet" href="/stylesheets/index.css" />
</head>

<body>
    <header>
        <%- include("partials/header2") %>
    </header>

    <main>

        <form enctype="multipart/form-data" action="/user/edit/<%= loggedUser.id %>?_method=PUT" method="POST">

            <!-- "first_name": "Fred", -->
            <div class="form-group">
                <label for="name">Actualizar primer nombre</label>
                <input type="text" class="form-control" id="name" name="name" aria-describedby="Primer nombre"
                    placeholder="Nombre">
            </div>

            <!-- "last_name": "Dupree", -->
            <div class="form-group">
                <label for="lastName">Actualizar apellido</label>
                <input type="text" class="form-control" id="lastName" name="lastName" aria-describedby="Apellido"
                    placeholder="Apellido">
            </div>

            <!-- "email": "fdupree0@slate.com", -->
            <div class="form-group">
                <label for="email">Actualizar e-mail</label>
                <input type="email" class="form-control" id="email" aria-describedby="email" name="email"
                    placeholder="Email">
            </div>

            <!-- "password": "GTutlrTVnIb", -->
            <div class="form-group">
                <label for="password">Actualizar contraseña</label>
                <input type="password" class="form-control" name="pass" id="password" placeholder="Contraseña">
                <small id="email" class="form-text text-muted">ACLARACIÓN SOBRE CREACIÓN DE CONTRASEÑA.</small>
            </div>
            <div class="form-group">
                <label for="password2">Repetir contraseña</label>
                <input type="password2" class="form-control" id="password2" name="pass2" placeholder="Contraseña">
                <!-- <small id="email" class="form-text text-muted">ACLARACIÓN SOBRE CREACIÓN DE CONTRASEÑA.</small> -->
            </div>

            <!-- "image": "user_1.jpg"  -->
            <div class="form-group c-none">
                <label for="avatar">Foto de perfil</label>
                <input type="file" class="form-control-file" name="file" id="avatar">
            </div>

            <!-- Submit -->
            <button class="btn btn-primary" type="submit">Finalizar registro</button>
        </form>



    </main>

    <nav></nav>

    <footer><%- include("partials/footer") %></footer>
</body>

</html>