/* Cart header bar */

.barra-carrito {
  height: 30px;
}



/* Producto */

.fa-trash {
    height: 3vh;
}
label {
    font-size: 0.9em;
}
.quantity {
    margin-bottom: 0px;
}


/* Cart footer */
.info {
    margin-bottom: 3px;
}
.info-money,
.total-money {
    text-align: right;
}
.btn {
    display: inline-block;
    width: 70%;
}
.boton {
    margin-top: 10px;
    width: 100%;
    text-align: center;
}
.separator {
    margin: 10px 0px;
    border-top: 1px solid black;
}
