.producto {
   padding: 0px;
}
.imagen-producto-cont {
   margin-left: -3px;
   max-height: 40vh;
   width: auto;
   display: block;
   overflow: hidden;
}
.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
}
.imagen-producto {
   max-height: 40vh;
   width: auto;
   text-align: center;
   padding-top: 0px;
}
.price {
   color: blue;
   display: inline-block;
   height: 40px;
}
.price p {
   font-size: 1.5em;
}
#add-to-cart {
   width: 100%;
}
.add-cart {
   width: 80%;
   margin: initial auto;
}
