/* Header   -    FIX ICON SIZES */

.logo {
    max-width: 100%;
}
h2 {
    font-size: 1rem;
}
p {
    font-size: 0.8rem;
}
.barra-carrito {
    height: 30px;
}
a {
    text-decoration: none;
    color: black;
}
.imagen-producto {
    width: 100%;
    height: auto;
    padding-top: 10px;
    margin-bottom: 10px;
    /* margin-left: -10px; */
}
.imagen-producto-cont {
    padding-left: 0px;
    padding-right: 0px;
}
.producto {
    margin: 5px;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0.8vhpx;
}
.cuerpo-articulo {
    margin-top: 5px;
    padding-right: 0px;
}
.carrito-cont {
    padding-right: 5px;
    padding-left: 5px;
}
.price {
    color: teal;
    font-size: 1em;
    height: 3vh;
}
.fa-shopping-cart {
margin-right: 15px;
}
.lupita {
  margin-right: 10px;
  }
.campo-buscador {
  width: 140%;
}
.barra-buscador {
  margin: 0px inherit;
}
.fa-user {
  font-size: 2em;
  margin-left: -11px;
}
.mageek {
text-align: center;
}
.icon {
  /* width: 100%; */
  height: 100%;
}
.side-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
}
.side-menu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.side-menu a:hover {
  color: #f1f1f1;
}
.side-menu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.menu-bars {
  font-size: 1.3em;
  padding: 1px;
}








/* Footer */
