/* * */

a {
  text-decoration: none;
  color: black;
}

/* Producto */
.producto-cont {
    padding-right: 5px;
    padding-left: 5px;
}
.producto {
    margin: 5px;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0.8vhpx;
}
.nombre-producto {
    margin-bottom: 0px;
    height: 3vh;
}
.price {
    color: teal;
    font-size: 1em;
    height: 3vh;
}
.descripcion {
margin-bottom: 0px;
padding-right: 15px;
}
.cantidad {
    height: 32px;
    padding-right: 8px;
    margin-left: 0px;
}
.bg-secondary {
    background-color: lightgrey !important;
}
.cuerpo-articulo {
    margin-top: 5px;
    padding-right: 0px;
}
.imagen-producto-cont {
    padding-left: 0px;
    padding-right: 0px;
}



/* Footer */

#img-footer{
    width: 10%;
}
.box{
    padding-top: 1vh;
    background-color: #C1C1C1;
}