/* * */

a {
  text-decoration: none;
  color: black;
}



/* Header   -    FIX ICON SIZES */

.side-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
}
.side-menu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.side-menu a:hover {
  color: #f1f1f1;
}
.side-menu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.menu-bars {
  font-size: 1.3em;
  padding: 1px;
}
.mageek {
  text-align: center;
}
.header-user {
  font-size: 2em;
  margin-left: -11px;
}
.barra-buscador {
  margin: 0px inherit;
}



/* Body */

h2 {
  font-size: 1rem;
}
p {
  font-size: 0.8rem;
}
.imagen-producto {
  width: 100%;
  height: auto;
  padding-top: 10px;
  margin-bottom: 10px;
}
.imagen-producto-cont {
  padding-left: 0px;
  padding-right: 0px;
}
.producto {
  margin: 5px;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 0.8vhpx;
}
.header-cart {
  margin-right: 15px;
}
.cuerpo-articulo {
  margin-top: 5px;
  padding-right: 0px;
}
.carrito-cont {
  padding-right: 5px;
  padding-left: 5px;
}
.price {
  color: teal;
  font-size: 1em;
  height: 3vh;
}





/* Producto */
.producto-cont {
    padding-right: 5px;
    padding-left: 5px;
}
.producto {
    margin: 5px;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0.8vhpx;
}
.nombre-producto {
    margin-bottom: 0px;
    height: 3vh;
}
.price {
    color: teal;
    font-size: 1em;
    height: 3vh;
}
.descripcion {
margin-bottom: 0px;
padding-right: 15px;
}
.cantidad {
    height: 32px;
    padding-right: 8px;
    margin-left: 0px;
}
.bg-secondary {
    background-color: lightgrey !important;
}
.cuerpo-articulo {
    margin-top: 5px;
    padding-right: 0px;
}
.imagen-producto-cont {
    padding-left: 0px;
    padding-right: 0px;
}



/* Footer */

#img-footer{
    width: 10%;
}
.box{
    padding-top: 1vh;
    background-color: #C1C1C1;
}